aiohttp==3.11.15
chainlit==2.5.5
chromadb==1.0.5
fastapi==0.115.9
fuzzywuzzy==0.18.0
httpx==0.28.1
langchain==0.3.23
langchain-community==0.3.21
langchain-ollama==0.3.2
numpy==1.26.4
ollama==0.4.7
pandas==2.2.3
pydantic==2.10.6
pypdf==5.4.0
python-Levenshtein==0.27.1
sentence-transformers==3.4.1
tqdm==4.67.1
typing-extensions==4.12.2
uvicorn==0.34.0
websocket-client==1.8.0
